.tablutr {
    border-collapse:collapse;
    box-shadow:grey 1px 1px 40px 1px;
    margin:auto;
}

.tablutr tbody tr:nth-child(even) {
 color:black;
 background:cyan;
 
}
.tablutr tbody tr td {
    padding:4vh;
}

.tablutr thead {
 background:blue;
 color:white;
}

.tablutr thead th {
    padding:10px;
    text-transform:uppercase;
}

 